<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <title>Distribution Center List</title>
</head>
<body>
<div class="d-flex flex-row mb-3">
    <div
            class="card ms-3 me-3"
            th:each="center: ${allCenters}"
            style="width: 18rem"
    >
        <div class="card-body">
            <h5 class="card-title" th:text="${center.name}" />
            <h6
                    class="card-subtitle mb-2 text-muted"
                    th:text="|Latitude: ${center.latitude}|"
            />
            <h6
                    class="card-subtitle mb-2 text-muted"
                    th:text="|Longitude: ${center.longitude}|"
            />
            <h6 class="card-subtitle mb-2 text-muted">Associated Items:</h6>
            <ul>
                <li th:each="item : ${center.itemsAvailable}" th:text="${item.name} + ' - ' + ${item.brand}" />
            </ul>
        </div>
    </div>
</div>
<div th:if="${username=='admin'}">
    <a class="btn btn-primary mt-5" th:href="@{/adminpage}">
        Go to admin page
    </a>
</div>
</body>
</html>
